$main-font_family: "Segoe UI Regular WestEuropean","Segoe UI",Tahoma,Arial,sans-serif;
$main-font_size: 0.875em; // 14px
$second-font_size: 0.813em; // 13px

$color1: #333333; // Dark grey.
$color2: #f4f4f4; // Very Light grey.
$color3: #eaeaea; // Light grey.
$color4: #666666; // Mid grey.

$desktopWidth: 54.063em; // 865px
$tabletWidth: 41.25em; // 660px
$mobileWidth: 28.438em; // 455px