$main-font_family: "Segoe UI Regular WestEuropean","Segoe UI",Tahoma,Arial,sans-serif;
$main-font_size: 0.875em; // 14px
$second-font_size: 0.813em; // 13px

$color1: #333333; // Dark grey.
$color2: #f4f4f4; // Very Light grey.
$color3: #eaeaea; // Light grey.
$color4: #666666; // Mid grey.

$desktopWidth: 1000px; // 983px
$tabletWidth: 780px; // 660px
$mobileWidth: 600px; // 455px