/**
 * _file-table.scss
 *
 * - Styles a table that contains files, it's
 *   look and feel have been made to match sharepoint.
 *
 * - Block:     .file-table        (full table container)
 *
 * - Elements:  .file-table_row    (single row container)
 *              .file-table_column (single column container)
 */

table.file-table {
    display: block;
    border-collapse: collapse;
}

.file-table {
    padding: 2em;
}

.file-table_row,
.file-table_row--labels {
    display: inline-block;
}

.file-table_row:hover {
    background: $color2;

    .file-table_column--ellipsis {
        visibility: visible;
    }
}

.file-table_row--labels {

    border-bottom: 1px solid $color3;

    .file-table_column:hover {
        background: $color2;
    }
}

.file-table_row label,
.file-table_row--labels label {
    color: $color4;
    font-size: $second-font_size;
}

.file-table_column,
.file-table_column--icon,
.file-table_column--ellipsis {
    display: inline-block;
    padding: 0.5em 0.75em;

    a:hover {
        text-decoration: underline;
    }
}

.file-table_column {
    width: 210px; // 210px
}

.file-table_column--icon,
.file-table_column--ellipsis {
    text-align: center;
    width: 33px;
}

.file-table_column--ellipsis {
    visibility: hidden;

    &:hover {
        background: $color3;
    }
}

.file-table_column:last-child {
    display: none;

    @media screen and (min-width: $desktopWidth){
        display: inline-block;
    }
}

.file-table_column:nth-last-child(2) {
    display: none;

    @media screen and (min-width: $tabletWidth){
        display: inline-block;
    }
}

.file-table_column:nth-last-child(3) {
    display: none;

    @media screen and (min-width: $mobileWidth){
        display: inline-block;
    }
}