.side-content {
    width: 207px;
    float: left;
}

.side-content_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-content_item > a,
.side-content_item--current > a {
    display: block;
    padding: 0.594em 1.25em;
}

.side-content_item > a:hover {
    background: $color2;
}

.side-content_item--current > a {
    background: $color2;
    border-left: 2px solid $color1;

    &:hover {
        background: $color3;
    }
}